doctype html
html
    head
        title Instagram
        link(rel="stylesheet", href="css/stylesheet.css" type="text/css")
    body
        header.navigation
            .flex-container.container
                div
                    a(href='#') 
                        img.iconlogo#logo-header(src="img/logo.png" alt="Logo")
                    a.texteffect-shadow#instagram(href='#') Instagram
                form
                    input.searchbox(type='text' placeholder='Search')
                nav
                    ul.flex-container
                        li
                            a(href='#') 
                                img.icon(src="img/explore.png" alt="Explore")
                        li
                            a(href='#') 
                                img.icon(src="img/like.png" alt="Notifications")
                        li
                            a(href='#') 
                                img.icon(src="img/acc.png" alt="Profile")
        .flex-container.container#content
            main#feed
                article
                    .grid-profile-feed
                        a.profile-pic(href='#')
                            img.profile-kecil(src="img/tasty.jpg", alt="PP")
                        a.profile-name(href='#') Profile Name
                    figure
                        img.picture(src="img/tasty.jpg", alt="Picture")
                    .captions-icon
                        a(href='#') 
                            img.icon(src="img/like.png" alt="Like")
                        a(href='#') 
                            img.icon(src="img/comment.png" alt="COmment")
                        a(href='#') 
                            img.icon(src="img/bo.png" alt="Bookmark")
                    .captions
                        a(href="#") Likes
                    .captions
                        a.profile-name(href="#") Profile Name
                        a Caption
                    .captions
                        a(href="#") Comments
                    .captions
                        a(href="#") Time Posted
                    .commentbox.captions
                        form
                            input.inputcomment(type="text" placeholder="Add Comment...")
                        a.right(href="#")
                            img.icon(src="img/setting.png", alt="Settings")
            
            aside#stories
                        .storyhead.grid-profile-story
                            a.profile-pic(href="#")
                                img.profile-gede(src="img/tasty.jpg", alt="PP")
                            a.profile-name(href="#") Profile Name
                            a.desc Bio
                        .story-content-header
                            a Stories
                            a.right(href="#") Watch All
                        .stories-container
                            .grid-profile-story
                                a.profile-pic
                                    img.profile-gede(src="img/tasty.jpg", alt="PP")
                                a.profilename Profile Name
                                a.desc Time Posted
                            .grid-profile-story
                                a.profile-pic
                                    img.profile-gede(src="img/tasty.jpg", alt="PP")
                                a.profilename Profile Name
                                a.desc Time Posted
                            .grid-profile-story
                                a.profile-pic
                                    img.profile-gede(src="img/tasty.jpg", alt="PP")
                                a.profilename Profile Name
                                a.desc Time Posted
                            .grid-profile-story
                                a.profile-pic
                                    img.profile-gede(src="img/tasty.jpg", alt="PP")
                                a.profilename Profile Name
                                a.desc Time Posted
                            .grid-profile-story
                                a.profile-pic
                                    img.profile-gede(src="img/tasty.jpg", alt="PP")
                                a.profilename Profile Name
                                a.desc Time Posted
                            .grid-profile-story
                                a.profile-pic
                                    img.profile-gede(src="img/tasty.jpg", alt="PP")
                                a.profilename Profile Name
                                a.desc Time Posted
                            .grid-profile-story
                                a.profile-pic
                                    img.profile-gede(src="img/tasty.jpg", alt="PP")
                                a.profilename Profile Name
                                a.desc Time Posted
                        footer
                            .footer-content
                                ul
                                    li
                                        a(href="#") About Us
                                    li
                                        a(href="#") Support
                                    li
                                        a(href="#") Press
                                    li
                                        a(href="#") API
                                    li
                                        a(href="#") Jobs
                                    li
                                        a(href="#") Privacy
                                    li
                                        a(href="#") Terms
                                    li
                                        a(href="#") Directory
                                    li
                                        a(href="#") Profiles
                                    li
                                        a(href="#") Hashtags
                                    li
                                        a(href="#") Language
                            .copyright
                                a &copy; 2018




